@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=DM+Serif+Text:ital@0;1&family=Matemasie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.project-container{
    margin-left:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects{
    text-align: center;
    width: 100%;
}

.projects h2{
    font-weight: bolder;
    color: #351520;
}

.project-card{
    margin: 30px;
    transition: 0.2s linear;
    border: none;
    background-color: #f6e9d3df;
}

.project-card:hover{
    box-shadow: rgba(53, 21, 32, 0.4) 5px 5px, rgba(53, 21, 32, 0.3) 10px 10px, rgba(53, 21, 32, 0.2) 15px 15px, rgba(53, 21, 32, 0.1) 20px 20px, rgba(53, 21, 32, 0.05) 25px 25px;
}

#ads{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-image span{
    display: flex;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f6e9d3df;
    color: #351520;
    font-weight: bold;
    padding: 3px;
    width: 100%;
    letter-spacing: 1px;
    justify-content: center;
}

.card-image .images{
    height: 250px;
    width: 100%;
}

.carousel-item img{
    height: 250px;
}

.card-image-overly{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    flex-wrap:wrap;
}

.card-image-overly span{
    background-color: darkturquoise;
    color: brown;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
}

.p-name{
    margin:10px 0 30px 0;
    font-size: larger;
    font-weight: bolder;
    color: #351520;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ad-btn .btn{
    border: 2px solid black;
    transition: 0.2s linear;
    width: 50%;
    margin-bottom: 10px;
}

.ad-btn .btn:hover{
    border: 2px solid rgb(135, 135, 255);
    color: rgb(135, 135, 255);
    background-color: white;
}

#ad3-btn .btn{
    width: 40%;
}

#live{
    margin-left: 10px;
}

#live:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
}

@media screen and (max-width:600px){
    .project-container{
        margin: 0;
        padding: 0;
    }
    .project-content{
        display: flex;
        justify-content: center;
    }
    .project-card{
        width: 70vw;
    }

    #ad3-btn .btn{
        width: 45%;
        padding: 5px;
    }

    #live{
        margin-left: 1px;
    }
}

/* Dark Mode */
#dark .projects h2{
    color: #63ADF2;
}

#dark .card-image span{
    background-color: #351520;
    color: #F4FFFD;
}

#dark .project-card{
    background-color: #351520;
}

#dark .p-name{
    color: #F9DC5C;
}

#dark .project-card:hover{
    box-shadow: rgba(99, 173, 242, 0.4) 5px 5px, rgba(99, 173, 242, 0.3) 10px 10px, rgba(99, 173, 242, 0.2) 15px 15px, rgba(99, 173, 242, 0.1) 20px 20px, rgba(99, 173, 242, 0.05) 25px 25px;
}
