.tech-container{
    margin: 30px 0 30px 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.techstack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.techstack h2{
    font-weight: bolder;
    color: #89023E;
}

/* .techlist{
    margin-left: 25vw;
} */

.techlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    width: fit-content;
}

.tech{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    cursor: pointer;
    padding: 5px;
}

.tech h2{
    font-size: 1.5em;
    font-family:'Gill Sans'
}

.tech:hover{
    box-shadow: rgba(137, 2, 62, 0.25) 0px 54px 55px, rgba(137, 2, 62, 0.12) 0px -12px 30px, rgba(137, 2, 62, 0.12) 0px 4px 6px, rgba(137, 2, 62, 0.17) 0px 12px 13px, rgba(137, 2, 62, 0.09) 0px -3px 5px;
}

.icon{
    font-size: 2rem;
}

@media screen and (max-width:600px){
    .tech-container{
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }
    .techlist{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    hr{
        width: 70vw;
    }
}

@media screen and (max-width:400px){
    .techlist{
        row-gap: 20px;
        column-gap: 20px;
    }
}

/* Dark Mode */
#dark .techstack h2{
    color: #63ADF2;
}

#dark .tech{
    background-color: #12263a9c;
    color: white;
}

#dark .tech:hover{
    box-shadow: rgba(99, 173, 242, 0.25) 0px 54px 55px, rgba(99, 173, 242, 0.12) 0px -12px 30px, rgba(99, 173, 242, 0.12) 0px 4px 6px, rgba(99, 173, 242, 0.17) 0px 12px 13px, rgba(99, 173, 242, 0.09) 0px -3px 5px;
}